/* Reset básico e configuração global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(img/DALL·E\ 2024-12-27\ 11.27.24\ -\ A\ serene\ and\ romantic\ sunset\ over\ a\ calm\ ocean\,\ with\ soft\ colors\ like\ light\ orange\,\ pink\,\ and\ lavender\ in\ the\ sky\,\ reflecting\ on\ the\ water.\ The\ scene\ .webp);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo para o container */
.container {
    width: 100%;
    max-width: 700px; /* Máxima largura */
    background: transparent;
    border: 7px;
    backdrop-filter: blur(5px);
    box-shadow: 1rem;
    padding: 30px 40px;
    height: auto; /* Altura ajustável */
}

/* Estilo para o título */
h1 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

/* Estilo para o parágrafo */
p {
    font-size: 20px;
    color: #000000;
    margin: 15px;
}

/* Estilo para a mensagem de redirecionamento */
.redirect-message {
    margin-top: 20px;
    font-size: 14px;
    color: #888;
}

/* Estilo para o botão de redirecionamento */
.redirect-button {
    background-color: #4f168c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 20px auto;
    display: block;
}

/* Efeito de hover no botão */
.redirect-button:hover {
    background-color: #b479d9;
}

/* Media Queries para telas menores */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Ajuste a largura do container em telas pequenas */
        padding: 20px;
    }

    h1 {
        font-size: 24px; /* Reduz o tamanho da fonte em telas pequenas */
    }

    p {
        font-size: 16px; /* Ajuste o tamanho da fonte */
    }

    .redirect-button {
        font-size: 14px; /* Ajuste o tamanho do botão */
        margin-left: 0; /* Remover margin-left fixo */
    }
}
